.root{
    margin-left: 20px;
    margin-top: 20px;
}
.top-container{
    display: flex;
    margin-left: 20px;
    font-size: 11px;
    justify-content: center;
    align-items: center;
}
.left-top-container{

}
.activity-container {
    display: flex;
    margin-top: 50px;
    height: 25vh;
    align-items: start;
    justify-content: center;
    font-size: 3rem;
}

.grid-root{
    display: grid;
    grid-Template-Columns: repeat(2, 1fr);
    grid-gap: 250px;
}

.card-action-icons{
    display: flex;
    justify-content: start;
}

.to-do-list-container{
    margin-top: -35px;
}

.add-task-button{

}
